




    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top cbp-af-header ">
            <div class="container"> 
            <a href="#" class="navbar-brand">Football News App</a>
                                            
            <button type="button" class="navbar-toggler navbar-toggler-right" 
            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
            aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarResponsive">
               
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="/home" >Home</a></li>
                     <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="/list">English League</a></li>
                     <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="/list-spa">Spanish League</a></li>
                     <li class="nav-items"> <a  class="nav-link" routerLinkActive="active" routerLink="/list-ita">Italian League</a></li>
                     
                     <div class="dropdown drop ">
                         <div  class=" btn bg-dark  dropdown-toggle" data-toggle="dropdown">
                             Other Leagues
                         </div>
                        <div class="dropdown-menu">
                     <a  class="nav-link dropdown-item" routerLinkActive="active" routerLink="/list-af">Africa Leagues</a>
                     <a  class="nav-link dropdown-item" routerLinkActive="active" routerLink="/list-eu">European Leagues</a>
                     <a  class="nav-link dropdown-item" routerLinkActive="active" routerLink="/list-am">American Leagues</a>
                     <a  class="nav-link dropdown-item" routerLinkActive="active" routerLink="/list-as">Asian Leagues</a>
                     <a  class="nav-link dropdown-item" routerLinkActive="active" routerLink="/list-au">Australian Leagues</a>
                    </div>
                    </div>


                    
                    
                    </ul>
                
           
                <ul class="navbar-nav ml-auto">
                    <li class="nav-items"><a href="https://bet9ja.com" class="download">Bet Now</a></li>
                   
                    
                    
                </ul>
            </div>
            </div>
        </nav>
    

        




