



.row{
    margin-top: 50px !important;
}

.footer-widget{
    margin-top: 50px;
    margin-bottom: 5px !important;
   
}

.reg{
    margin-top: -30px;
    margin-left: 50px;
}

.cont{
    margin-left: 200px;
}