

<div class="bg-img-71 img-responsive img-fluid ">
    <div id="content">
    <div class="container">
        <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center all-text-content-white">
        <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        <h3> This is a Football News and Details App ranging from <br> English Premier League, Serie A, La-liga and other<br> Countries Football League</h3>
    </div>
    </div>
         
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
</div>


